[access]
	inheritFrom = All-Projects
[project]
	description = Infrared plugin for validating configuration changes applied to a TripleO deployment
[access "refs/*"]
	owner = group rhosqeauto-contrib
	owner = group user/Marius Cornea (mcornea)
	owner = group user/Oleksii Baranov (obaranov)
	read = group Anonymous Users
[access "refs/for/refs/*"]
	read = group github/rhos-infra/Everyone
	read = group user/Oleksii Baranov (obaranov)
	push = group github/rhos-infra/Everyone
	push = group user/Oleksii Baranov (obaranov)
	label-Code-Review = -2..+2 group github/rhos-infra/Everyone
	label-Code-Review = -2..+2 group user/Oleksii Baranov (obaranov)
	label-Verified = -1..+1 group github/rhos-infra/Everyone
	label-Verified = -1..+1 group user/Oleksii Baranov (obaranov)
	rebase = group github/rhos-infra/Everyone
	rebase = group user/Oleksii Baranov (obaranov)
	removeReviewer = group github/rhos-infra/Everyone
	removeReviewer = group user/Oleksii Baranov (obaranov)
	submit = group github/rhos-infra/Everyone
	submit = group user/Oleksii Baranov (obaranov)
[access "refs/heads/*"]
	read = group github/rhos-infra/Everyone
	read = group user/Oleksii Baranov (obaranov)
	create = group github/rhos-infra/Everyone
	create = group user/Oleksii Baranov (obaranov)
	push = group github/rhos-infra/Everyone
	push = +force group user/Oleksii Baranov (obaranov)
	pushMerge = group github/rhos-infra/Everyone
	pushMerge = group user/Oleksii Baranov (obaranov)
[access "refs/tags/*"]
	push = group github/rhos-infra/Everyone
	push = group user/Oleksii Baranov (obaranov)
	push = +force group user/Oleksii Baranov (obaranov)
