[access]
	inheritFrom = All-Projects
[project]
	description = Infrared plugin for validating configuration changes applied to a TripleO deployment
[access "refs/*"]
	owner = group user/Oleksii Baranov (obaranov)
[access "refs/for/refs/*"]
	read = group user/Oleksii Baranov (obaranov)
	push = group user/Oleksii Baranov (obaranov)
	label-Code-Review = -2..+2 group user/Oleksii Baranov (obaranov)
	label-Verified = -1..+1 group user/Oleksii Baranov (obaranov)
	rebase = group user/Oleksii Baranov (obaranov)
	removeReviewer = group user/Oleksii Baranov (obaranov)
	submit = group user/Oleksii Baranov (obaranov)
[access "refs/heads/*"]
	read = group user/Oleksii Baranov (obaranov)
	create = group user/Oleksii Baranov (obaranov)
	push = +force group user/Oleksii Baranov (obaranov)
	pushMerge = group user/Oleksii Baranov (obaranov)
[access "refs/tags/*"]
	push = group user/Oleksii Baranov (obaranov)
	push = +force group user/Oleksii Baranov (obaranov)
