parameter_defaults:
    DockerInsecureRegistryAddress:
    - 192.168.24.1:8787
    DockerNovaComputeImage: 192.168.24.1:8787/rhosp{{ rhosp_version }}/openstack-nova-compute:latest-hotfix
    DockerNovaComputeIronicImage: 192.168.24.1:8787/rhosp{{ rhosp_version }}/openstack-nova-compute-ironic:latest-hotfix
    DockerNovaLibvirtConfigImage: 192.168.24.1:8787/rhosp{{ rhosp_version }}/openstack-nova-compute:latest-hotfix
